---
import Layout from "./Layout.astro";
import {getImagePath} from "astro-opengraph-images";
const {frontmatter} = Astro.props;

const openGraphImageUrl = getImagePath({ url: Astro.url, site: Astro.site });
---

<Layout title={`fintag - ${frontmatter.title}`} description={frontmatter.description}>
    <Fragment slot="head">
        <!-- Open Graph -->
        <meta property="og:site_name" content="fintag" />
        <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site) } />
        <meta property="og:logo" content="https://www.fintag.de/img/fintag_logo.svg" />
        <meta property="og:locale" content="de_de" />
        <meta property="og:type" content="Article" />
        <meta property="og:title" content={`fintag - ${frontmatter.title}`} />
        <meta property="og:description" content={frontmatter.description} />
        <meta property="og:image" content={openGraphImageUrl} />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content={Astro.site}>
        <meta property="twitter:url" content={new URL(Astro.url.pathname, Astro.site) }>
        <meta name="twitter:title" content={frontmatter.title}>
        <meta name="twitter:description" content={frontmatter.description}>
        <meta name="twitter:image" content={openGraphImageUrl}>
    </Fragment>

    <main class="mx-auto px-4 lg:px-24 container my-6">
        <section class:list={[
            "prose prose-neutral dark:prose-invert lg:prose-lg max-w-none",
            "hyphens-auto break-words",
            "prose-hr:my-3",
            "prose-p:leading-relaxed prose-p:my-2",
            "prose-li:leading-tight prose-li:m-0 prose-li:mb-2 prose-ul:list-square",
            "prose-h1:text-3xl md:prose-h1:text-5xl prose-h1:mb-3 prose-h1:mt-6",
            "prose-h2:text-2xl md:prose-h2:text-4xl prose-h2:mb-2 prose-h2:mt-4",
            "prose-h3:text-xl md:prose-h2:text-3xl prose-h2:mb-1 prose-h2:mt-3",
            "prose-li:leading-tight prose-li:m-0 prose-li:mb-2",
            "prose-ul:list-square prose-ul:marker:text-primary",
            "prose-ol:marker:text-text",
        ]} lang="de-de">
            <slot />
        </section>
    </main>
</Layout>
